@import "../../styles/variables";

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 36px;
  box-sizing: border-box;

  background-color: $low-fat;

  .logo {
    font-family: "moret", serif;
    font-size: 24px;
    color: $moirai;
    padding-right: 36px;
  }
}