@import '../../../styles/variables.scss';

.project-detail {

    margin: 48px 84px;

    &__overview {
        margin-bottom: 36px !important;

        &__heading {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            span {
                margin-left: 16px;
                font-style: italic;

            }
        }
    }

    .lesson-outline {
        li {
            margin-bottom: 16px;
            white-space: nowrap;
        }
    }

    &__kit-contents {
        display: flex;
        background-color: $blush;

        li {
            margin-top: 8px;
        }

        &__left {
            width: 50%;
            padding: 48px 80px;
            background-color: $neon;
        }

        &__right {
            width: 50%;
            padding: 48px 80px;
            background-color: $blush;

            ul {
                margin: auto;
                width: fit-content;
            }

            li {
                font-size: 18px;
                margin-bottom: 4px;
            }
        }

        &__icon {
            height: 64px;
            display: block;
            margin: auto;
        }

        &__title {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            max-width: 126px;
        }
    }

    &__section {
        padding: 48px 64px;

        .project-reviews {
            &__header {
                width: auto;

                .MuiFilledInput-input {
                    padding: 13px 32px 10px 12px;
                    font-family: Poppins;
                }
            }
        }

        .planet-commitment {
            &__header {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 24px;
            }

            &__section {
                height: 125px;
                display: flex;
                align-items: center;
                padding: 24px 48px;
                box-sizing: border-box;

                &.gray {
                    background-color: #F1F1F1;

                }

                img {
                    width: 55px;
                    margin-right: 24px;
                }
            }
        }
    }
}