@import '../../styles/variables.scss';

.dashboard-container {

    .past-projects-thumbnail {
        border-radius: 5px 30px 5px 30px;
        border: 5px solid transparent;

        &:hover {
            border: 5px solid $pink-cushion;
        }
    }
}