.recommended-project {

    &__thumbnail {
        width: 264px;
        height: 325px;
        background-color: rgb(134, 134, 134);
        position: relative;
        margin-top: 24px;
        margin-bottom: 18px;

        .level-tag {
            position: absolute;
            top: 8px;
            right: 8px;
        }
    }

}